<!DOCTYPE html>
<html>

<head>
  <title>Simple Task Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"
    integrity="sha512-uaZ0UXmB7NHxAxQawA8Ow2wWjdsedpRu7nJRSoI2mjnwtY8V5YiCWavoIpo1AhWPMLiW5iEeavmA3JJ2+1idUg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
    integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" 
    integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" 
    integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />    
</head>
<style>
  .btn-custom {
    opacity: .5;
    transition: .3s;
  }

  .btn-custom:hover {
    opacity: 1;
    transition: .3s;
  }
</style>

<body>
  <div class="container">
    <h1>Add process</h1>
    <form id="process-form">
      <div class="row mb-1 draggable">
        <div class="col-2">
          <input type="text" class="form-control key-name" value="Project name" oninput="updateInputName(this)"></input>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" id="input1" placeholder="Enter project name">
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>

        <div class="col-2">
          <input type="text" class="form-control key-name" value="Machine name"></input>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Enter machine name">
        </div>
        <div class="col-1">
          
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>
      </div>

      <div class="row mb-1 draggable">
        <div class="col-2">
          <input type="text" class="form-control key-name" value="Process date"></input>
        </div>
        <div class="col-3">
          <input type="date" class="form-control" placeholder="Enter process date" id="current-date">
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>

        <div class="col-2">
          <input type="text" class="form-control key-name" value="Process time"></input>
        </div>
        <div class="col-3">
          <input type="time" class="form-control" placeholder="Enter process time" id="current-time" step="1">
        </div>
        <div class="col-1">
          
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-2">
          <input type="text" class="form-control key-name" value="Substrate name"></input>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Enter substrate name">
        </div>
        <div class="col-1">
          
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>

        <div class="col-2">
          <input type="text" class="form-control key-name" value="Process duration"></input>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Enter process duration">
        </div>
        <div class="col-1">
          
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-2">
          <input type="text" class="form-control key-name" value="Helium pressure"></input>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Enter helium pressure">
        </div>
        <div class="col-1">
          
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>

        <div class="col-2">
          <input type="text" class="form-control key-name" value="Process temperature"></input>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Enter process temperature">
        </div>
        <div class="col-1">
          
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>
      </div>

      <div class="row mb-1 align-items-center d-flex">
        <div class="col-2">
          <input type="text" class="form-control key-name" readonly value="Recipe"></input>
        </div>
        <div class="col-9">
          <textarea class="form-control" placeholder="Enter recipe" rows="5"></textarea>
        </div>
        <div class="col-1">
          
          <button type="button" class="btn btn-custom" id="remove"><i class="fas fa-trash"></i></button>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-12">
          <div class="card my-4">
            <div class="card-body">
              <h5 class="card-title">Drag and Drop Files Here</h5>
              <div id="drop-area" class="my-4 p-5 bg-light border" style="background-image: url('drop-bg.png'); background-size: cover;">
                <p>Drag and drop files here or click to select files</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-12 justify-content-md-end">
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      
    </form>
  </div>

  <script>
    $(document).ready(() => $("#current-time").val(new Date().toLocaleTimeString('ru-RU', {timeZone: 'Europe/Moscow', hour12: false})));
    $(document).ready(() => $("#current-date").val(new Date().toISOString().substr(0, 10)));    
  </script>
  <script>
    $(document).ready(function() {
      $('#process-form').submit(function(e) {
        e.preventDefault(); // Prevent the form from submitting normally
        
        var i = 0;
        var key = "";
        arr = {};

        $(this).find('input').each(function() {
          if (i % 2 == 0) {
            key = $(this).val()
          } else {
            arr[key] = $(this).val()
            key = ""
          }
          i++;
        });
        console.log(arr);
        
        $.ajax({
          type: 'GET',
          url: '/save-form-data',
          data: JSON.formData,
          contentType: 'application/json',
          success: function(response) {
            // Handle the response from the server
            console.log(response);
          },
          error: function(xhr, status, error) {
            // Handle errors
            console.error(error);
          }
        });
      });
    });
  </script>
</body>

</html>